<footer>
    <div class="footer-content">
        <h2><i style="padding-right: 10px;" class="fa-sharp fa-solid fa-location-dot"></i>GMaps</h2>
        <hr>
        <p>Experience the World like Local . Search from EveryWhere</p>
        <ul class="socials">
            <li><a href=""></a><i class="fa fa-facebook"></i></li>
            <li><a href=""></a><i class="fa fa-twitter"></i></li>
            <li><a href=""></a><i class="fa fa-youtube"></i></li>
            <li><a href=""></a><i class="fa fa-linkedin"></i></li>
        </ul>
        <diV class="contacts">
            <p>Email : GMaps@email.com</p>
            <p>Mobile : 2045 6783 2342</p>
            <p>Website : www.Gmaps.com</p>
        </diV>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 GMaps. Designed by <span>Ahex</span></p>
    </div>
</footer>